.totalScore {
    text-align: center;
    font-family: 'WaltographRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 30px;
}

.message {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}